@model IEnumerable<SistemaVentasEntidades.UsuarioEntidad>
@{
    ViewBag.Title = "Index";
}
<h2>Gestión de Usuarios</h2>
<p>
    <!--Nuevo como se muestra en la UI, Create la acción asociada-->
    @Html.ActionLink("Nuevo Usuario", "Create")
    @using (Html.BeginForm("Index", "Usuario", FormMethod.Get))
    {
    <p>
        Nombre: @Html.TextBox("SearchString")
        <input type="submit" value="Filtrar" />
    </p>
    }
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPerfil)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Nombre)
                </td>

                <td>                    
                    @Html.ActionLink("Editar", "Edit", new { id = item.CodUsuario })
                </td>
            </tr>
        }

    </table>