@model IEnumerable<SistemaVentasEntidades.UsuarioEntidad>
@{
    ViewBag.Title = "Vendedores que no han sincronizado";
}
<h2>Vendedores que no han sincronizado</h2>
<hr />
<div class="alert  alert-success">
    @Html.ValidationSummary(true)
</div>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPerfil)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil.Nombre)
                </td>

            </tr>
        }

    </table>

